// conversion to rem
@mixin padding-top($sizeValue: 0) {
    padding-top: $sizeValue + px;
    padding-top: ($sizeValue / 16) + rem;
}

@mixin padding-bottom($sizeValue: 0) {
    padding-bottom: $sizeValue + px;
    padding-bottom: ($sizeValue / 16) + rem;
}

@mixin padding-left($sizeValue: 0) {
    padding-left: $sizeValue + px;
    padding-left: ($sizeValue / 16) + rem;
}

@mixin padding-right($sizeValue: 0) {
    padding-right: $sizeValue + px;
    padding-right: ($sizeValue / 16) + rem;
}

@mixin pad($top: 0, $right: 0, $bottom: 0, $left: 0) {
    padding-top: $top + px;
    padding-top: ($top / 16) + rem;

    padding-right: $right + px;
    padding-right: ($right / 16) + rem;

    padding-bottom: $bottom + px;
    padding-bottom: ($bottom / 16) + rem;

    padding-left: $left+ px;
    padding-left: ($left/16)+ rem;
}

@mixin margin-top($sizeValue: 0) {
    margin-top: $sizeValue + px;
    margin-top: ($sizeValue / 16) + rem;
}

@mixin margin-bottom($sizeValue: 0) {
    margin-bottom: $sizeValue + px;
    margin-bottom: ($sizeValue / 16) + rem;
}

@mixin margin-left($sizeValue: 0) {
    margin-left: $sizeValue + px;
    margin-left: ($sizeValue / 16) + rem;
}

@mixin margin-right($sizeValue: 0) {
    margin-right: $sizeValue + px;
    margin-right: ($sizeValue / 16) + rem;
}

@mixin marg($top: 0, $right: 0, $bottom: 0, $left: 0) {
    margin-top: $top + px;
    margin-top: ($top / 16) + rem;

    margin-right: $right+ px;
    margin-right: ($right/16)+ rem;

    margin-bottom: $bottom+ px;
    margin-bottom: ($bottom/16)+ rem;

    margin-left: $left+ px;
    margin-left: ($left/16)+ rem;
}