

.hide-mobile{
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}

.hide-mobile-inlineblock {
    display: none;

    @include breakpoint(sm) {
        display: inline-block;
    }
}

.hide-xs-inlineblock {
    display: none !important;

    @include breakpoint(xs) {
        display: inline-block ! important;
    }
}

.hide-desktop {
    display: block;

    @include breakpoint(sm) {
        display: none;
    }
}