$color-ing-orange: #FF6200;
$color-montana: #3A3A3A;
$color-white: #FFFFFF;
$color-athens-gray: #DFDFDF;
$color-white-smoke: #F6F6F6;
$color-gray: #818181;
$color-mineshaft: #333333;

//gedefinieerd in mockup:
// $text-gray: #333E47;
// $sub-text-gray: #333E47;
// $strong-text-black: rgba(0,0,0,0.87);

$color-link: $color-ing-orange;
$color-brand: $color-ing-orange;
$color-text: $color-mineshaft;