@import "../bourbon/bourbon";

@include keyframes(popOut) {

    0% {
        @include transform(scale(1));
    }

    10% {
        @include transform(scale(1.2));
    }

    100% {
        @include transform(scale(0));
    }
}

@include keyframes(popIn) {

    0% {
        opacity: 0;
        @include transform(scale(0.8));
    }

    100% {
        opacity: 1;
        @include transform(scale(1));
    }
}

@include keyframes(popSmaller) {

    0% {
        @include transform(scale(1));
    }

    10% {
        @include transform(scale(1.1));
    }

    100% {
        @include transform(scale(0.8));
    }
}

@include keyframes(popBigger) {

    0% {
        @include transform(scale(0.8));
    }

    90% {
        @include transform(scale(1.1));
    }

    100% {
        @include transform(scale(1));
    }
}

@include keyframes(slideOutBottom) {

    0% {
        @include transform(translateY(0));
    }

    10% {
        @include transform(translateY(-20px));
    }

    100% {
        @include transform(translateY(100%));
    }

}

@include keyframes(slideInTop) {

    0% {
        opacity: 0;
        @include transform(translateY(-50px));
    }

    100% {
        opacity: 1;
        @include transform(translateY(0));
    }

}

@include keyframes(slideInBottom) {

    0% {
        opacity: 0;
        @include transform(translateY(50px));
    }

    100% {
        opacity: 1;
        @include transform(translateY(0));
    }

}