@mixin grid-container {
  @include container;
  @include pie-clearfix;

  width: $total_width;
  max-width: $max_width;
  margin: 0 auto;
  padding: 0 $container_margin;
  padding: 0 16px;

  @include breakpoint(s){
    padding-left: $container_margin;
    padding-right: $container_margin;
  }

  @include breakpoint(xlg){
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin subgrid {
  @include container;
  @include pie-clearfix;
  position: relative;
  margin: 0;
  width: 100%;
}
.row {
  @include subgrid;
}

.clearfix {
  @include pie-clearfix;
}

.container {
  @include grid-container;
  position: relative;
}

.container--small {
  @include grid-container;
  position: relative;
  max-width: $max_width_small;
}

.container--medium {
  @include grid-container;
  position: relative;
  max-width: $max_width_medium;
}

.container--large {
  @include grid-container;
  max-width: $screen-xxl;
  position: relative;
}

.subgrid {
  @include subgrid;
  position: relative;
}